.newList {
	/* background: #EEEEEE; */
	
	position: relative;
	left: 20px;
}
.deactivated {	
	border-bottom: 1px !important;
	border-color: red !important;
}
.reblogTitle {
	position: relative;
	left: 20px;
}
.contributed-no-list {
	position: relative;
	left: 20px;
}
/*
.reblog-avatar {
	display: none !important;
}
*/